<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-laptop</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title name="INVENTORY">Inventory</v-list-item-title>
            {{this.$store.getters.numberOflaptopsInState("INVENTORY")}}
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-usb</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title name="IMAGING">Imaging</v-list-item-title>
            {{this.$store.getters.numberOflaptopsInState("IMAGING")}}
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>airport_shuttle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>In Transit</v-list-item-title>
            {{this.$store.getters.numberOflaptopsInState("TRANSIT")}}
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>device_hub</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>hub</v-list-item-title>
            {{this.$store.getters.numberOflaptopsInState("HUB")}}
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>face</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Picked Up By User</v-list-item-title>
            {{this.$store.getters.numberOflaptopsInState("PICKEDUP")}}
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Covid-19 Laptop Project Dashboard</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <!-- Add  A Laptop-->
      <addLaptop></addLaptop>
      <!-- Data table-->
      <dataTable></dataTable>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">
        Developed by
        <a
          href="https://directory.med.cornell.edu/person/profile/stc4004"
          target="_blank"
        >Castro Steve</a>
        &copy; 2020
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import dataTable from "@/components/_dataTable.vue";
import addLaptop from "@/components/_addLaptop.vue";
import { mapGetters } from "vuex";
export default {
  props: {
    source: String
  },

  data() {
    return {
      drawer: false
    };
  },
  components: {
    dataTable,
    addLaptop
  },
  computed: {
    ...mapGetters(["numberOflaptopsInState"])
  }
};
</script>
