<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="TagNumber"
            :rules="TagNumberRules"
            :counter="6"
            label="Tag Number"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="SerialNumber"
            :counter="10"
            label="Serial Number"
            v-on:keydown.tab="addLaptop()"
            required
          ></v-text-field>
        </v-col>
        <v-col>
          <v-btn color="indigo" @click="addLaptop()">
            Add Laptop
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
export default {
  data: () => ({
    valid: false,
    TagNumber: "",
    SerialNumber: "",
    TagNumberRules: [
      tag => !!tag || "Tag is required",
      tag => tag.length <= 6 || "Tag must be atleast 6"
    ]
  }),
  methods: {
    addLaptop() {
      let laptop = {
        TagNumber: this.TagNumber,
        SerialNumber: this.SerialNumber
      };
      this.$store.dispatch("addLaptop", laptop);
    }
  }
};
</script>
