<template>
  <v-container>
    <div>
      <div>
        <p class="text-left">Chose a laptop, to change state to :</p>
      </div>
      <v-btn class="my-2" @click="changeState('IMAGING')">IMAGING</v-btn>
      <v-btn class="my-2" @click="changeState('TRANSIT')">TRANSIT</v-btn>
      <v-btn class="my-2" @click="changeState('HUB')">HUB</v-btn>
    </div>

    <v-card>
      <v-card-title>
        Laptops ({{laptops.length}} In Total)
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="search tag number"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="laptops"
        item-key="TagNumber"
        class="elevation-1"
        v-model="selected"
        :search="search"
        show-select
      >
        <template v-slot:top></template>
      </v-data-table>
    </v-card>
  </v-container>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      search: "",
      selected: [],
      headers: [
        {
          text: "Tag Number",
          align: "start",
          sortable: true,
          value: "TagNumber"
        },
        { text: "Serial Number", value: "SerialNumber" },
        { text: "Mac Address", value: "MacAddress" },
        { text: "State", value: "state" },
        { text: "User's CWID", value: "cwid" }
      ]
    };
  },
  computed: { ...mapGetters(["laptops"]) },
  created() {
    this.$store.dispatch("getLaptops");
  },
  methods: {
    changeState(x) {
      let selected = this.selected;
      selected.forEach(laptop => {
        laptop.state = x;
        this.$store.dispatch("updateLaptop", laptop);
      });
    }
  }
};
</script>
